input[type="button"] {
    padding: 8px 16px;
    background-color: var(--primary-8);
    color: var(--primary-8-text);
    min-height: 32px;
    border: 0px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-5);
    }

    &:active {
        background-color: var(--primary-9);
    }

    &:disabled {
        background-color: var(--primary-1);
        cursor: default;
    }

    &.secondary {
        background-color: var(--grey-dark);

        &:hover {
            background-color: var(--grey-medium-dark);
        }
    
        &:active {
            background-color: var(--grey-darkest);
        }
    
        &:disabled {
            background-color: var(--grey-medium-light);
            cursor: default;
        }
    }
}
