:root {
    --primary-0: #E3F2FD;
    --primary-1: #BBDEFB;
    --primary-2: #90CAF9;
    --primary-3: #64B5F6;
    --primary-4: #42A5F5;
    --primary-5: #2196F3;
    --primary-6: #1E88E5;
    --primary-7: #1976D2;
    --primary-8: #1565C0;
    --primary-9: #0D47A1;

    --primary-0-text: #000000;
    --primary-1-text: #000000;
    --primary-2-text: #000000;
    --primary-3-text: #000000;
    --primary-4-text: #000000;
    --primary-5-text: #000000;
    --primary-6-text: #000000;
    --primary-7-text: #ffffff;
    --primary-8-text: #ffffff;
    --primary-9-text: #ffffff;

    --primary-text: #ffffff;
    --primary-light-text: #000000;
    --primary-dark-text: #ffffff;
    
    --grey-lightest: #F5F5F5;
    --grey-light: #EEEEEE;
    --grey-medium-light: #E0E0E0;
    --grey-medium: #BDBDBD;
    --grey-medium-dark: #9E9E9E;
    --grey-dark: #757575;
}
