:root {
    --primary: #0d47a1;
    --primary-light: #5472d3;
    --primary-dark: #002171;
    --primary-text: #ffffff;
    --primary-light-text: #000000;
    --primary-dark-text: #ffffff;
    
    --grey-lightest: #F5F5F5;
    --grey-light: #EEEEEE;
    --grey-medium-light: #E0E0E0;
    --grey-medium: #BDBDBD;
    --grey-medium-dark: #9E9E9E;
    --grey-dark: #757575;
}
